.hero.homepage {
  background-image: url('http://www.jordanretro11fanatics.com/wp-content/uploads/2018/02/luxury-private-labels.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  justify-content: center;

}
