div.card-image{
  height: 40vh;
}

div.content{
  border-top: 1px solid #dddddd;
  padding-top: 5px;
}

h3.subtitle.is-3{
  padding: 5px;
  border-bottom: 1px solid #dddddd;
}

.radio + .radio{
  margin: 0;
}

div.SortByControl{
  display: flex;
  flex-direction: column;
}

input.searchField{
  height: 4vh;
  width: 22vw;
}
