div.card-image{
  height: 40vh;
}

div.content.cardContent{
  border-top: 1px solid #dddddd;
  padding-top: 5px;
}

h4.subtitle.is-italic{
  margin-bottom: 5px;
  margin-top: 35px;
  text-decoration: underline;
}

h3.subtitle.is-3{
  padding: 5px;
  border-bottom: 1px solid #dddddd;
}

.radio + .radio{
  margin: 0;
}

div.is-italic:active{
  font-size: 18px;
}

input.inputPrice{
  width: 50px;
}

div.filterBy{
  display: flex;
  align-items: center;
}

div.SortByControl{
  display: flex;
  flex-direction: column;
}

input.searchField{
  height: 4vh;
  width: 22vw;
}

div.filterFields{
  display: flex;
}

div.FilterByControl.price{
  display: flex;
}

//* customise checkboxes for colors
/* Customize the label (the container) */
.container {
  display: inline;
  position: relative;
  height: 25px;
  width: 25px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  // font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Hide the browser's default checkbox
input.checkbox{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 12.5px
  //background-color: #eeeeee;
}

/* On mouse-over, add a grey border color */
.container:hover input ~ .checkmark {
  border: 4px solid #cccccc;
}

/* When the checkbox is checked, add a blue background */
// .container input:checked ~ .checkmark {
//   background-color: #2196F3;
// }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
