
div.card{
  height: 100%;
}

div.card-image{
  height: 40vh;
}

div.card-image.indexImage{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.content.cardContent{
  border-top: 1px solid #dddddd;
  padding-top: 5px;
}

div.searchBy, div.sortBy, div.filterBy{
  margin-bottom: 35px;
}

h4.subtitle.is-italic{
  border-bottom: 1px solid #dddddd;
  margin-bottom: 5px;
  //text-decoration: underline;
}

h3.subtitle.is-3{
  padding: 5px;
  border-bottom: 1px solid #dddddd;
}

h5.subtitle.is-size-5{
  margin-right: 10px;
  margin-bottom: 8px;
  font-weight: bold;
}

div.filterByControl.price{
  display: flex;
  margin-bottom: 0px;
}

div.filterByControl.color{
  width: 100%;
}

.radio + .radio{
  margin: 0;
}

div.is-italic:active{
  font-size: 18px;
}

input.inputPrice{
  width: 100%;
  height: 30px;
}

label.label.is-size-6{
  margin-right: 5px;
  margin-left: 5px;
}

div.filterBy.price{
display: flex;
align-items: center;
}

div.filter{
  margin-top: 10px;
}

div.SortByControl{
  display: flex;
  flex-direction: column;
}

input.searchField.input{
  height: 30px;
  width: 100%;
}

div.filterFields{
  display: flex;
}



.inputOccasion, .inputOrder{
  margin-right: 5px;
  margin-left: 5px;
}

//* customise checkboxes for colors
/* Customize the label (the container) */
label.container {
  display: inline;
  position: relative;
  height: 25px;
  width: 25px;
  padding-left: 35px;
  margin-bottom: 35px; //does not work...
  cursor: pointer;
  // font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Hide the browser's default checkbox
input.checkbox{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin-bottom: 35px; //does not work...
}

/* Create a custom checkbox */
span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  margin-bottom: 35px; //does not work...
  //background-color: #eeeeee;
}

/* On mouse-over, add a grey border color */
.container:hover input ~ .checkmark {
  border: 4px solid #cccccc;
}

/* When the checkbox is checked, add a blue background */
// .container input:checked ~ .checkmark {
//   background-color: #2196F3;
// }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
