button.button{
  margin: 5px;
}

div.column.is-half.images{
  display: flex;
}

div.userPicture{
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

div.mainImage{
  width: 450px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.smallImages{
  display: flex;
  flex-direction: column;
}

div.smallImage{
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

// div.imgItemShow{
//   height: 45vh;
//   width: 35vw;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

div.column.reviews{
  border-top: 1px solid #dddddd;
}

h5.subtitle.is-5{
  text-decoration: underline;
}

article.media{
  margin-bottom: 10px;
}

div.previousReviews{
  margin-top: 20px;
}

button.addComment{
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  //text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #f731d6;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

button.addComment:hover {
  color: #fff;
  cursor: pointer;
  background-color: #f9aeed;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}
