div.imgItemShow{
  height: 45vh;
  width: 35vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

// /* review circle settings in show page*/
// .emptyStar {
//   background-image: url('../../assets/images/greyStar.png');
//   background-size: cover; }
//
// .emptyStar:hover {
//   background-image: url('../../assets/images/yellowStar.png');
//   background-size: cover; }
