div.imgItemCart{
  width: 10vw;
  height: 10vh;
}

h6.subtitle.is-size-7{
  margin-bottom: 5px;
}

div.imgRight{
  background: url('https://i.pinimg.com/564x/30/d6/18/30d6184205f4cdaa5279d8ee9c0c16a0.jpg');
  background-size: cover;
  height: 100vh;
  width: 28vw;
}

div.column.is-half.image{
  margin: auto;
}
